  <.live_component
    module={UnderworkWeb.PlanComponent}
    id={@session.id}
    session={@session}
  />

  <%= for {_stream_id, cycle} <- @streams.cycles do %>
    <.live_component
      module={UnderworkWeb.PlanCycleComponent}
      id={cycle.id}
      cycle={cycle}
    />
    <%= if cycle.state in ["reviewing", "complete"] do %>
      <.live_component
        module={UnderworkWeb.ReviewCycleComponent}
        id={cycle.id}
        cycle={cycle}
      />
    <% end %>
  <% end %>
