<div>
  <.header>
    Working...
  </.header>

  <h2><%= remaining_time_message(@start_at, @end_at, @current_time) %></h2>

  <.simple_form
    for={@form}
    id="work-form"
    >
    <:actions>
      <a phx-click={@return}>Return to Planning</a>
      <.button phx-click="review" phx-target={@myself} phx-disable-with="Saving...">Start Review</.button>
    </:actions>
  </.simple_form>
</div>
