<div>
  <.header>
    Working...
  </.header>

  <.simple_form
    for={@form}
    id="work-form"
    >
    <:actions>
      <.link patch={~p"/sessions/#{@cycle.session_id}/cycle/#{@cycle}/plan"}>Return to Planning</.link>
      <.button phx-click="review" phx-disable-with="Saving...">Start Review</.button>
    </:actions>
  </.simple_form>
</div>
